# Ganti dengan domain kamu atau IP Public jika belum ada domain
medicloud.yourdomain.com {
    # Frontend (Root path)
    handle /* {
        reverse_proxy frontend:80
    }

    # Backend API (Path /api/*)
    handle /api/* {
        reverse_proxy backend:3000
    }

    # Compress response untuk performa
    encode gzip
}
