name: Deploy Medicloud App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Check Backend (Install Only)
        run: |
          cd backend
          npm install

      - name: Check Frontend (Build Test)
        run: |
          cd frontend
          npm install
          npm run build

  deploy:
    needs: build-check
    strategy:
      matrix:
        runner-node: [node-1, node-2, node-3, node-4, node-5]
      fail-fast: false

    runs-on: [self-hosted, "${{ matrix.runner-node }}"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Create .env file
        env:
          VAL_DB_URL: ${{ secrets.DATABASE_URL }}
          VAL_JWT: ${{ secrets.JWT_SECRET }}
          VAL_API_URL: ${{ secrets.VITE_API_URL }}
        run: |
          # Buat .env TANPA tanda kutip
          cat > .env << EOF
          DATABASE_URL=$VAL_DB_URL
          JWT_SECRET=$VAL_JWT
          VITE_API_URL=$VAL_API_URL
          EOF

      - name: Debug .env content
        run: cat .env

      - name: Deploy App Containers
        run: |
          docker compose up -d --build backend frontend

      - name: Prune Old Images
        run: |
          docker image prune -f