name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/medicloud
          tags: |
            type=ref,event=branch
            type=sha,format=short

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  deploy:
    needs: build
    runs-on: self-hosted # Akan mencari runner aktif di laptopmu
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Environment Variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "DEPLOY_ENV=prod" >> $GITHUB_ENV
            echo "CONTAINER_NAME=medicloud-prod" >> $GITHUB_ENV
          else
            echo "DEPLOY_ENV=dev" >> $GITHUB_ENV
            echo "CONTAINER_NAME=medicloud-dev" >> $GITHUB_ENV
          fi
          echo "IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/medicloud:${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Make Script Executable
        run: chmod +x deploy.sh

      - name: Execute Deploy Script
        run: ./deploy.sh
